{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Welcome to the Question Bank!!</h2>
     <div class="container">
         {% for answer in answers.all %}
          <div class="card" style="width: 18rem;">
  <img src="{{ answer.image1.url }}" class="card-img-top" alt="...">
  <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Submitted By</strong> : {{ answer.author.username }}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">See Full Answer </a>

  </div>
</div>
</div>


         </br>
      </br>

         {% endfor %}
   </div>

</div>
{% endblock %}