{% extends 'base.html' %}

{% block content %}
<div class="container">

 <nav class="navbar navbar-light bg-light">

</nav>
    <h2>Welcome to the Question Bank!!</h2>
     <div class="container">
         {% for question in questions %}
          <div class="card mb-4 shadow" style="width: 18rem;">
  <img src="{{ question.image1.url }}" class="card-img-top" alt="...">
  <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Submitted By</strong> : {{ question.author.username }}</li>
      <li class="list-group-item"><strong>Subject</strong> : {{ question.subject}}</li>
    <li class="list-group-item"><strong>Department</strong> : {{ question.department }}</li>

  </ul>
  <div class="card-body">
    <a href="{%url 'full_question' question.id %}" class="card-link">See Full Question </a>

  </div>
</div>
</div>
     {% endfor %}



         </br>
      </br>


   </div>

</div>
{% endblock %}