  {% extends 'base.html' %}
  {% block content %}
  <h3>Ad detail : </h3>
  <div class="offset-3 col-md-6">
       <div id="carouselExampleIndicators" class="carousel slide shadow" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>


  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
     {% if full.image1 %}
        <img src="{{ full.image1.url }}" class="d-block w-100" alt="No image">

     {% endif %}
    </div>
    <div class="carousel-item">
      {% if full.image2 %}

     <img src="{{ full.image2.url }}" class="d-block w-100" alt="No image">

      {% endif %}

    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
           <div class="container">
               <p><strong>Post By</strong> :{{full.author.username}}</p>
               <p><strong>Post title</strong> :{{full.title}}</p>


           </div>
</div>
      <div class="container">
          <p><strong>Post Description</strong> :{{full.description}}</p>
      </div>





  </div>


<br/>
  <br/>



  </br>

  {% endblock %}
