{% extends 'base.html' %}

{% block content %}

<div  class="container float-left">
     <h3 align="left">Recent Posts:</h3>
        {% for j in AD %}
        <div class="row">
            <div class="col-md-6">
          <div class="card mb-4 shadow">
             <img class="card-img-top" src= "{{ j.image1.url }}" width="100%" height="225" alt="No image found!" />
            <div class="card-body">
                 <h1 class="card-title">{{j.title}}</h1>
                <h3 class="card-title">Ad by : {{j.author.username}}</h3>
                <h5 class="card-title pricing-card-title">Price : {{j.price}} <small ></small></h5>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'full_post' j.id %}"> <button type="button" class="btn btn btn-outline-secondary">View</button></a>
                </div>
                <p class="text-muted"> {{j.date_publish}}</p>
              </div>
            </div>
          </div>
        </div>
        </div>
     {% endfor %}

</div>

</div>











{% endblock %}>