<!DOCTYPE html>
<html lang="en">
<head>
  <title>UAP Life ad</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
  <style>
      .btn {
        border: none;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        
      }
      
      /* Green */
      .success {
        color: rgb(0, 0, 0);
      }
      
      .success:hover {
        opacity: 2;
        background-color: rgb(99, 110, 108);
        color: rgb(0, 0, 0);
      }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-white" style="height:95px;">
    <a class="navbar-brand" href="index.html"> <img src="logo2.png" style="width:270px;height:130px;border:0;position: sticky;"></a>
    <div style="padding-left: 650px;">
        <button class="btn btn-outline-primary">My Profile</button>
        <button class="btn btn-outline-primary">Logout</button>
    </div>
  </nav>
  <div class="w3-section w3-row-padding" >
    <div class="w3-twothird">
      <div class="w3-card-4">
        <div class="w3-display-container">
          <img src="ad1.jpg" alt="Car" style="width:100%">
          <div class="w3-display-bottomleft w3-container w3-xlarge w3-text-black"></div>
        </div>
        <div class="w3-container w3-light-grey">
        <h2>Gigabyte B450 Motherboard</h2>
        <h2 style="color:red;">Price:<b>5000 tk</b></h2>
          <p><b>Description:</b>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
            Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        </div>
        <div style="padding-left: 65%;">
          <button class="btn success">Chat</button>
          <button class="btn success">Contact Number</button>
        </div>
      </div>
    </div>
    <div class="w3-third w3-container w3-center">
      <div class="w3-card-4" style="width: 100%;height: 350px;">
        <div class="w3-container">
        <img src="promo1.png" style="width:100%;">
        </div>
        <p>Details For:<a href=""> <i>click here</i></a></p>
      </div>
      <div class="w3-card-4 w3-section" style="width: 100%;height: 350px;">
        <div class="w3-container w3-white">
        <img src="promo2.png" style="width:100%;">
        </div>
        <p>Details For:<a href=""> <i>click here</i></a></p>
      </div>
    </div>
  </div>
</body>
</html>
