<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>

<body>

    <div class="Top_most_container">
        <div>
            <img class="ima" src="static/small.png" alt="HTML tutorial" style="width:120px;height:60px;border:0;">

            <div class="search_op">
                <a class="search_button" href="">Search</a>
                <input type="text" placeholder="What are you looking for?">
            </div>


            <a href="post_ad.html/">
                <button class="button1" onclick="document.getElementById('idPost your AD').style.display='block'" style="width:auto; height: align-self"><span>Post Your AD</span></button>

            </a>
            <a href="home.html/">
                <button class="button" onclick="document.getElementById('idLog out').style.display='block'" style="width:auto; height: align-self"><span>Log Out</span></button>
            </a>

            <button class="button" onclick="document.getElementById('idMy Profile').style.display='block'" style="width:auto; height: align-self"><span>My Profile</span></button>






            <div class="clear"></div>
            <div class="cat">

                <a href="questionbank_first_page.html/">
                    <button class="button_QBANK" onclick="document.getElementById('idUAP QUESTION BANK').style.display='block'" style="width:auto; height: align-self">
    <span>UAP QUESTION BANK</span>
</button>
                </a>




                <div class="dropdown1">
                    <div class="dropbtn1">SEARCH BY DEPARTMENT</div>

                    <div class="dropdown-one1">
                        <div class="dItem" href="#">All Departments</div>
                        <div class="dItem" href="#">EEE</div>
                        <div class="dItem" href="#">CSE</div>
                        <div class="dItem" href="#">Civil</div>
                        <div class="dItem" href="#">Architecture</div>
                        <div class="dItem" href="#">Business Administration</div>
                        <div class="dItem" href="#">English</div>
                        <div class="dItem" href="#">Pharmacy</div>
                        <div class="dItem" href="#">Law</div>


                    </div>
                </div>





                <div class="dropdown">
                    <div class="dropbtn">SEARCHING CATEGORIES</div>

                    <div class="dropdown-one">
                        <div class="dItem" href="#">All Categories</div>
                        <div id="link1" class="dItem" href="#">books
                            <!--  Inside Dropdown -->
                            <div class="dropdown-two">
                                <div class="dItem" id="file" href="#">EEE</div>
                                <div class="dItem" id="file" href="#">CSE</div>
                                <div class="dItem" id="file" href="#">Law</div>
                                <div class="dItem" id="file" href="#">Business</div>
                                <div class="dItem" id="file" href="#">Pharmacy</div>
                                <div class="dItem" id="file" href="#">English</div>
                                <div class="dItem" id="file" href="#">History</div>
                                <div class="dItem" id="file" href="#">Math</div>
                                <div class="dItem" id="file" href="#">Civil</div>
                                <div class="dItem" id="file" href="#">Others</div>
                            </div>
                        </div>

                        <div id="link1" class="dItem" href="#">Job
                            <!--  Inside Dropdown -->
                            <div class="dropdown-two">
                                <div class="dItem" id="file" href="#">EEE</div>
                                <div class="dItem" id="file" href="#">CSE</div>
                                <div class="dItem" id="file" href="#">Law</div>
                                <div class="dItem" id="file" href="#">Business</div>
                                <div class="dItem" id="file" href="#">Pharmacy</div>
                                <div class="dItem" id="file" href="#">English</div>
                                <div class="dItem" id="file" href="#">Architecture</div>
                                <div class="dItem" id="file" href="#">Civil</div>
                                <div class="dItem" id="file" href="#">Others</div>
                            </div>
                        </div>

                        <div id="link1" class="dItem" href="#">Electronics
                            <!--  Inside Dropdown -->
                            <div class="dropdown-two">
                                <div class="dItem" id="file" href="#">Mobile</div>
                                <div class="dItem" id="file" href="#">Mobile Accessories </div>
                                <div class="dItem" id="file" href="#">Computer & laptop</div>
                                <div class="dItem" id="file" href="#">Computer & laptop Accessories</div>
                                <div class="dItem" id="file" href="#">Camera & Camera Accessories</div>
                                <div class="dItem" id="file" href="#">Other Electronics</div>

                            </div>
                        </div>



                        <div class="dItem" href="#">Services</div>
                        <div class="dItem" href="#">Education</div>




                        <div class="dItem" href="#">Accommodation</div>
                        <div class="dItem" href="#">Tution</div>
                        <div class="dItem" href="#">Borrow Something</div>
                        <div class="dItem" href="#">Others+</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--  top mos container end -->




    <div class="clear"></div>



    <ul class="promo">
        <div class="event">
            <div class="content_for_promo">

                <img class="demo" src="static/demo.jpg" alt="image" style="width:150px;height100px;border:0;">
            </div>
        </div>
        <div class="ADsence">
            <div class="content_for_promo">

                <img class="demo" src="static/demo.jpg" alt="image" style="width:150px;height100px;border:0;">


            </div>

    </ul>

    <div class="timeline">
        <div class="container left">
            <div class="content">
                <img class="demo" src="static/demo.jpg" alt="image" style="width:150px;height100px;border:0;">
                <button class="Show_AD" onclick="document.getElementById('idShow_AD').style.display='block'" style="width:auto; height: align-self"><span>Show The AD</span></button>
                <h2>Title</h2>
                <p>Price: TK </p>

            </div>
        </div>
        <div class="container left">
            <div class="content">
                <img class="demo" src="static/demo.jpg" alt="image" style="width:150px;height100px;border:0;">
                <button class="Show_AD" onclick="document.getElementById('idShow_AD').style.display='block'" style="width:auto; height: align-self"><span>Show The AD</span></button>
                <h2>Title</h2>
                <p>Price: TK </p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <img class="demo" src="static/demo.jpg" alt="image" style="width:150px;height100px;border:0;">
                <button class="Show_AD" onclick="document.getElementById('idShow_AD').style.display='block'" style="width:auto; height: align-self"><span>Show The AD</span></button>
                <h2>Title</h2>
                <p>Price: TK </p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <img class="demo" src="static/demo.jpg" alt="image" style="width:150px;height100px;border:0;">
                <button class="Show_AD" onclick="document.getElementById('idShow_AD').style.display='block'" style="width:auto; height: align-self"><span>Show The AD</span></button>
                <h2>Title</h2>
                <p>Price: TK </p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <img class="demo" src="static/demo.jpg" alt="image" style="width:150px;height100px;border:0;">
                <button class="Show_AD" onclick="document.getElementById('idShow_AD').style.display='block'" style="width:auto; height: align-self"><span>Show The AD</span></button>
                <h2>Title</h2>
                <p>Price: TK </p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <img class="demo" src="static/demo.jpg" alt="image" style="width:150px;height100px;border:0;">
                <button class="Show_AD" onclick="document.getElementById('idShow_AD').style.display='block'" style="width:auto; height: align-self"><span>Show The AD</span></button>
                <h2>Title</h2>
                <p>Price: TK </p>
            </div>

        </div>
    </div>







</body>

</html>