<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color:#cef5e9">
    
<h1 style="text-align:center;">Question Bank
</h1>
<div class="w3-container">
   
   
    <a href="submit_question_page.html">Submit Question</a>
    <p></p>
    <a href="Question_repo.html">Search question</a>

  </div>
</body>
</html>